:root {
    --color-primary: #ff5763;
    --color-secondary: #57baff;
    --color-dark: #222222;
    --color-light: #dcdcdc;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    background-color: transparent !important;
}

/* @media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 1 calc(25% - 1em);
    }
}

@media (max-width: 41em) {
    .card {
        flex-basis: 100% !important;
    }
}

@media (min-width: 40em) {
    .card {
        flex-basis: calc(33.33% - 1em) !important;
    }
} */

.cards {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    width: auto !important;
    height: 650px !important;
    background-color: transparent !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    scroll-snap-type: x mandatory !important;
}

.card.donut-card {
    display: fixed !important;
    flex: 0 1 calc(25% - 1em) !important;
    min-width: 18em !important;
    height: 100% !important;
    max-height: 650px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    scroll-snap-align: center !important;
    scroll-snap-stop: always !important;
    border-radius: 25px !important;
    border: none !important;
}

.card-body {
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
}

.card-header {
    background-color: var(--color-secondary) !important;
    color: var(--color-light);
    font-family: Ubuntu, sans-serif !important;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0px !important;
    border-top-left-radius: inherit !important;
    border-top-right-radius: inherit !important;
}

.card-text {
    font-size: 1.5rem;
    color: var(--color-dark);
    font-family: Ubuntu, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0px;
}

.card-footer {
    background-color: var(--color-secondary) !important;
    color: var(--color-light) !important;
    font-family: Ubuntu, sans-serif !important;
    font-size: .75rem !important;
    height: 5em !important;
    text-align: center;
    margin: 0;
    padding: 0px !important;
    border-bottom-left-radius: inherit !important;
    border-bottom-right-radius: inherit !important;
}

.donut-chart {
    position: relative;
    aspect-ratio: 1;
    background-color: transparent;
    width: 95%;
    margin: 0 auto .5rem;
    border-radius: 100%;
}

p.center {
    flex-direction: column !important;
    background: var(--color-secondary);
    position: absolute;
    text-align: center;
    font-size: 2rem;
    color: var(--color-primary);
    font-family: Ubuntu, sans-serif;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 53%;
    height: 53%;
    margin: auto;
    border-radius: 50%;
    outline: var(--color-secondary) solid 3px;
    line-height: 35px;
    padding: 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.center {
    color: var(--color-dark);
    font-weight: 800;
    font-size: 1rem;
    display: block;
    margin-top: .5px;
}

.portion-block {
    border-radius: 50%;
    clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
    height: 100%;
    position: absolute;
    width: 100%;
}

.circle {
    border-radius: 50%;
    clip-path: polygon(0% 0%, 50% 50%, 100% 100%, 100% 0%);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
    scale: .75;
    animation-delay: 500ms !important;
}

.part .portion-block {
    position: absolute;
    width: 50%;
    height: 100%;
    transform-origin: center center;
    z-index: 1;
}

.primary .circle {
    background-color: var(--color-primary);
}

.secondary .circle {
    background-color: var(--color-secondary);
}

.light .circle {
    background-color: var(--color-light);
}

.dark .circle {
    background-color: var(--color-dark);
}